@media (min-width: 768px) {
    .navbar-toggler {
        border: 2px solid #fff;
        background-color: #f2f4f6;
    }
    .welcome_area {
        height: 1040px;
    }
}


/********************
END RESPONSIVE
*********************/


/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden !important;
}

body,
html {
    font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

img {
    max-width: none !important;
}

a,
a:hover,
a:focus,
a:active {
    font-weight: 700;
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

li {
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.9;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.brand-title {
    font-size: 40px;
    color: #fff;
    line-height: 1.8;
    font-weight: 900;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

#preloader {
    overflow: hidden;
    background-color: #211b31;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.preloader {
    overflow: hidden;
    -webkit-animation: 3000ms linear 0s normal none infinite running preloader;
    animation: 3000ms linear 0s normal none infinite running preloader;
    background-color: transparent;
    border-color: #f1f2f3 #f1f2f3 #4a7aec;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    height: 50px;
    left: calc(50% - 25px);
    position: relative;
    top: calc(50% - 25px);
    width: 50px;
    z-index: 9;
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section-heading {
    margin-bottom: 100px;
}

.contact-btn {
    background-color: #4a7aec;
    min-width: 150px;
    height: 54px;
    padding: 0 30px;
    border-radius: 70px;
    color: #fff;
    font-size: 14px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-btn:hover {
    background-color: #1a3c8d;
    color: #fff;
}


/* --------------------------
:: 2.0 Header Area CSS
-------------------------- */

.header_area {
    height: 120px;
    background-color: transparent;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

nav .nav-link {
    color: #fff;
    display: block;
    font-size: 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 15px;
}

nav .nav-link:hover {
    color: #4a7aec;
}

.navbar-nav {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}


/* Sticky CSS */

.header_area.sticky {
    background-color: #25499f;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    height: 80px;
}


/* --------------------------
:: 3.0 Welcome Area CSS
-------------------------- */

.welcome_area {
    padding-top: 160px;
    padding-bottom: 200px;
    padding-left: 80px;
    background-image: url(../img/welcome-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcome_area h2,
.welcome_area h3,
.welcome_area h4,
.welcome_area p,
.welcome_area ul,
.welcome_area ::placeholder,
.welcome_area .form-control {
    color: #fff;
    opacity: 1;
}

.welcome_area p,
.welcome_area ul {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.welcome_area li {
    list-style-type: circle !important;
}

.welcome_area ul {
    margin-top: 20px;
}


/* ----------------------
:: 19.0 Contact Page CSS
---------------------- */

.contact-form-area .form-control {
    font-size: 18px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    height: 50px;
    margin-bottom: 10px;
    padding: 15px;
}

.contact-form-area .form-control:hover,
.contact-form-area .form-control:focus {
    box-shadow: none;
}

.contact-form-area textarea.form-control {
    height: 140px;
}

.footer-area {
    position: relative;
    z-index: 1;
    background-color: #211b31;
}

.copyright-text>p {
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
}

.footer-bottom-area {
    background-color: #191426;
    height: 60px;
}

.team-thumbnail {
    width: 189px;
    height: 189px;
    border-radius: 50%;
    margin: 0 auto 50px;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.team-thumbnail:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(74, 122, 236, 0.75);
    z-index: 2;
    border-radius: 50%;
    opacity: 0;
}

.team-thumbnail>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team-meta-info {
    margin-bottom: 50px;
}

.team-meta-info h4 {
    line-height: 1;
    margin-bottom: 10px;
}

.team-meta-info span {
    font-size: 12px;
    font-weight: 900;
    color: #abadbe;
    letter-spacing: 2px;
    margin-bottom: 35px;
    display: block;
}

.about-us {
    background-color: #211b31;
    position: relative;
    z-index: 1;
}

.about-us h2,
.about-us h3,
.about-us h4,
.about-us span,
.about-us p {
    color: #fff;
}

.about-us span {
    font-size: 15px;
    display: inline-block;
}

.title {
    font-size: 25px !important;
}


/* -----------------------
:: 20.0 Elements Area CSS
----------------------- */

.extra-features {
    padding-left: 50px;
    padding-right: 50px;
}

.extra-features h2,
h3,
p {
    color: #292d4f;
}

.extra-features p {
    font-size: 18px;
}